@model ForgotPasswordConfirmationViewModel
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="row">
    <form>
        <h1>We have sent you an email!</h1>
        <div class="form-group">
            <p>Please check your email for instructions on how to reset your password.</p>
        </div>
    	<p><a asp-action="Login" asp-route-returnurl="@Model.ReturnUrl"><i class="glyphicon glyphicon-arrow-left"></i> Back to Login</a></p>
    </form>
</div>