@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Reset Your Password";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <h1>@ViewData["Title"]</h1>
    <div class="form-group">
        <input class="form-control" asp-for="Email" placeholder="@Html.DisplayNameFor(m => m.Email)" />
    </div>
    <div asp-validation-summary="All" class="form-group text-danger"></div>
    <div class="form-group">
        <p>Enter your email address, and we'll send you a link so you can reset your password.</p>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Request Reset Link</button>
    </div>
    <p><a asp-action="Login" asp-route-returnurl="@Model.ReturnUrl"><i class="glyphicon glyphicon-arrow-left"></i> Back to Login</a></p>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
