@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email"/> 
    <input type="hidden" asp-for="Code" />
    <input type="hidden" asp-for="ReturnUrl" />
    <h1>Reset your password</h1>
    <div class="form-group">
        <p>Please choose a new password.</p>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" asp-for="Password" placeholder="@Html.DisplayNameFor(m => m.Password)" />
            <div class="input-group-addon" data-toggle="popover" title="Password requirements" style="cursor: pointer"><i class="fa fa-info-circle" style="font-size: 20px" ></i></div>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control" asp-for="ConfirmPassword" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)"/>
    </div>
    <div asp-validation-summary="All" class="form-group text-danger"></div>
    <button type="submit" id="resetPassword" class="btn btn-primary">RESET PASSWORD</button>
</form>

@section Scripts {
    <script>
        $(function() {
            $('[data-toggle=popover]').popover({
                trigger: "click",
                container: "body",
                html: "true",
                content: "<p>Passwords must: </p>" +
                         "<ul><li>Be at least <b>6</b> and at max <b>100</b> characters long</li>" +
                         "<li>Have at least one <b>non-alphanumeric</b> character</li>" +
                         "<li>Have at least one <b>lowercase (a-z)</b> character</li>" +
                         "<li>Have at least one <b>uppercase (A-Z)</b> character</li>" +
                         "<li>Have at least one <b>digit (0-9)</b></li></ul>"
            });
        });
    </script>
}