@model ResetPasswordConfirmtationViewModel
@{
    ViewData["Title"] = "Your password has been reset";
}


<div class="row">
    <form>
        <h1>Your password has <br/>been reset</h1>
        <div class="form-group">
            <p>You can now log in with your new password.</p>
        </div>
        <p><a asp-action="Login" asp-route-returnurl="@Model.ReturnUrl"><i class="glyphicon glyphicon-arrow-left"></i> Back to Login</a></p>
    </form>
</div>

