@{
    ViewData["Title"] = "Home";
}
<form>
    <h1>Cound not redirect you <br/> to the application</h1>
    <p>
        Please click here for <a href="https://app.responsivehr.com">ResponsiveHR</a> or <br/> here for <a href="https://app.responsiveinsight.com">ResponsiveInsight</a>
    </p>
</form>
